body {
  max-width: 1000px;
  margin: 0px auto;
  background-color: #F4F9FF;
  font-family: "Meiryo";

}

#logo>img {
  width: 160px;
  margin: 60px 0 0 0;
}

#mainvisual {
  max-width: 1000px;
  margin-bottom: 60px;
}

#mainvisual>img {
 width: 100%;
}

#index {
 margin-bottom: 50px; 
  padding: 20px 0;
  background-color: #ffffff;
}

.index-title {
  font-size: 18px;
}

.index-box {
  max-width: 600px;
  margin: 0 auto;
  line-height: 40px;
}

.title {
  padding-left: 20px;
}

#detail {
  margin-bottom: 100px;
}

.detail-title {
  font-size: 18px;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  display: flex;
}

.content>img {
  width: 270px;
  margin-right: 30px;
}

.text-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.item {
  border-top: solid 1px #dededede;
  border-bottom: solid 1px #dededede;
  padding: 10px 0;
  line-height: 30px;
}
td {
  padding: 0 20px;
}
p {
  margin-top: 20px;
}

.nav-menu {
  margin-top: 20px;
}

.nav-menu>a {
  color: #333333;
}

footer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {}