body {
  max-width: 1000px;
  margin: 0px auto;
  background-color: #ffffff;
  font-family: "Meiryo";
}

#logo>img {
  width: 180px;
  margin: 30px 0 10px 0;
}

#mainvisual {
  max-width: 1000px;
  margin-bottom: 60px;
}

#mainvisual>img {
  width: 100%;
}



#index {
  padding: 20;
  margin-bottom: 50px;
}



.index-inner {
  max-width: 800px;
  height: 500px;
  margin: 0 auto;
  line-height: 40px;
  background-color: #f5f5f5;
}

.section-title {
  margin-bottom: 40px;
  padding-top: 80px;
  text-align: center;
}

.index-list {
  padding: 30px 100px;
  display: table;
  margin: 0 auto;
  border: solid 1px #333333;
}

.image-photo {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}


P {
  font-size: 14px;
}


@media screen and (max-width: 1024px) {}